*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 7rem;
}

.h1{
    font-size: 3rem;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-flow: column nowrap;
}

.p{
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0 0 0;
    line-height: 1.8;
}

.bonus{
    color: hsl(0, 0%, 100%);
    background-color: hsl(248, 32%, 49%);
    width: 500px;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    box-shadow: 0 5px 3px 0 hsla(249, 10%, 26%, 0.5);
}

.bonus span{
    font-weight: bold;
}

form{
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
    gap: 1rem;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 3px 0 hsla(249, 10%, 26%, 0.5);
}

input{
    padding: 1rem;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.claim{
    width: 436px;
    padding: 1rem;
    background-color: hsl(154, 59%, 51%);
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 3px 3px 0 hsla(249, 10%, 26%, 0.5);
}

.claim:any-link{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    text-decoration: none;
}

.claim:active,
.claim:hover{
    background-color: hsla(154, 59%, 51%, 0.705);
}

form p{
    font-size: 12px;
    text-align: center;
}

form p span{
    color: hsl(0, 100%, 74%);
}

@media (min-width:360px){
    body{
        display: flex;
        flex-flow: column nowrap;
        margin: 2rem 0;
        gap: 2rem;
    }

    .h1{
        font-size: 1.5rem;
        text-align: center;
    }

    .p{
       text-align: center;
       font-size: 14px;
    }

    .info{
        margin-bottom: 2rem;
    }

    .form{git 
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .bonus{
        width: 360px;
        font-size: 14px;
        text-align: center;
    }

    form{
        width: 360px;
    }

    .claim{
        width: 296px;
    }
}